{% extends "base.html" %}

{% block content %}
<div class="login-container">
    <h1>Set New Password</h1>
    
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <form action="{{ url_for('reset_password', token=token) }}" method="POST">
        <div class="form-group">
            <label for="new_password">New Password</label>
            <input type="password" id="new_password" name="new_password" required>



          <meter id="pwdStrength" min="0" max="4" low="1" high="3" optimum="4" value="0" style="width:100%;margin-top:6px;"></meter>
<small id="pwdHint" style="display:block;margin-top:4px;"></small>




        </div>
        
        <div class="form-group">
            <label for="confirm_password">Confirm Password</label>
            <input type="password" id="confirm_password" name="confirm_password" required>
        </div>

        <button type="submit" class="login-btn">Update Password</button>
    </form>
</div>
{% endblock %}